USE [master]
GO
/****** Object:  Database [CRUB]    Script Date: 18/06/2021 5:49:28 CH ******/
CREATE DATABASE [CRUB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRUB', FILENAME = N'E:\HITACHIGROUP\CRUB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CRUB_log', FILENAME = N'E:\HITACHIGROUP\CRUB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRUB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRUB]
GO
/****** Object:  Table [dbo].[Loai]    Script Date: 18/06/2021 5:49:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai](
	[BaoHiem] [int] NOT NULL,
	[Ten] [nchar](10) NULL,
 CONSTRAINT [PK_Loai] PRIMARY KEY CLUSTERED 
(
	[BaoHiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 18/06/2021 5:49:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[CMND] [int] NULL,
	[Tuoi] [int] NULL,
	[Phone] [int] NULL,
	[BaoHiem] [nvarchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
